@import '../style/variables';

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 90%;
  background-color: $bg-gray;
  padding: 20px;
}

.base-list {
  margin-top: 20px;

  .base-list-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .add-item {
      margin: 14px 5px;
      text-align: center;
      width: 90px;
      background-color: transparent;
      height: 32px;
      border: 1px solid $gray;
      outline: none;
    }
  }
}

.item {
  width: 100px;
  margin: 14px 5px;
  height: 30px;
  background-color: $light-gray;
  // line-height: 30px;
  text-align: center;
  outline: none;
  border: none;
}

.promptBtn {
  color: white;
  background-color: $primary-color;
  border: none;
  outline: none;
  margin-left: -4px;
}

.group-container {
  border: 1px solid$gray;
  margin: 20px 0;

  .group-header {
    position: relative;
    padding: 8px;
    display: flex;
    background-color: $gray;
    justify-content: center;
    align-items: center;

    .group-name {
      padding: 5px;
      margin: 0;
      color: white;
      text-align: center;
    }

    .trainers-group-container {
      position: absolute;
      display: flex;
      right: 0;
      margin-right: 10px;
    }
  }

  .trainees-group-container {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
  }
}

h1 {
  font-size: 20px;
}
