#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 90%;
  background-color: #f7f7f7;
}

.student-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(8, 10%);
  justify-content: space-between;
}

.student-item {
  margin: 14px 0;
  padding: 5px;
  height: 32px;
  background-color: #eeeeee;
  text-align: center;
}

#add-student-button {
  background-color: transparent;
  border: 1px solid #929aab;
  height: 30px;
  margin: 14px 0;
  outline: none;
  font-size: 10px;
}

#add-student-button:hover {
  color: black;
}