.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.group-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-list-header p {
  font-weight: bold;
}

.grouping-button {
  background-color: #ea5455;
  padding: 3px 30px;
  border: none;
  color: white;
  font-size: 10px;
  line-height: 10px;
  outline: none;
}

.group-list-visble {
  display: block;
}

.group-list-unvisble {
  display: none;
}

.group-name {
  padding: 5px;
  margin: 0;
  background-color: #929aab;
  color: white;
  text-align: center;
}

.student-group-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(7, 10%);
  grid-column-gap: 10px;
}

.group-container {
  border: 1px solid #929aab;
  margin: 20px 0;
}